body {
	margin: 0;
	padding: 0;
}

h1 {
	color: #006D77;
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
}
table {
  margin-left: auto;
  margin-right: auto;
}

td {
	color: #006D77;
  width:30vw;
  height:20vw;
  vertical-align: center;
  padding-top:0px;
  text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
}

canvas {
	position: absolute;
	top: 0;
	z-index: -1;
}

.canvasholder {
	width: 100%;
}
